<nav class="navbar navbar-expand-md navbar-dark bg-dark">
<div class="container">
  <a class="navbar-brand" href="/">pydweetserver</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarPyDweetServer" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarPyDweetServer">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/see">Index</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/add">Add</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/stats/">Stats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/docs/">Docs</a>
      </li>
    </ul>
  </div>
</div>
</nav>